<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ resort.name }}</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h1>{{ resort.name }}</h1>
    <p>Location: {{ resort.location }}</p>
    <p>Accommodations: {{ resort.accommodations }}</p>
    <p>Dining: {{ resort.dining }}</p>
    <p>Fitness and Wellness: {{ resort.fitness_wellness }}</p>
    <!-- Add other fields as needed -->
    <!-- Add inside resort_detail.html -->
    <a href="{{ url_for('book_resort', resort_id=resort.id) }}">Book This Resort</a>

    <a href="{{ url_for('resorts') }}">Back to Resorts</a>
</body>
</html>
